<div class="row">
    <div class="col">
        <div class="alert alert-primary" role="alert">
            {{mensaje}}
        </div>
    </div>
    <div class="col">
        <input class="btn btn-secondary" type="button" value="Nuevo" (click)="limpiarFormulario()">
    </div>
    {{formulario.value | json}}
    {{formulario.status | json}}
</div>
<!--FIN DEL ROW 1-->
<div class="row">
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item {{(p == pokemonSeleccionado)?'active': ''}}" (click)="seleccionarPokemon(p)"
                *ngFor="let p of listaPokemon">
                {{p.id}}-{{p.nombre}}
                <button class="fas fa-trash-alt" (click)="eliminarPokemon(pokemonSeleccionado)"></button></li>
        </ul>
    </div>
    <div class="col">
        <form action="enviar" [formGroup]="formulario" (ngSubmit)="enviarFormulario(formulario.value)">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control mb-3" formControlName="nombre" autofocus
                    value="{{pokemonSeleccionado.nombre}}">

                <button type="submit" [disabled]="formulario.invalid"
                    class="btn btn-primary btn-block">{{(pokemonSeleccionado.id===0)?'Crear':'Actualizar'}}</button>
            </div>



        </form>
    </div>

</div>