<div class="row">
    <div class="col-md-6 mb-2">
        <div class="alert alert-primary" *ngIf="!pokemonBuscado" role="alert">
            {{mensaje}}
        </div>
        <div class="input-group">
            <input type="text" class="form-control mb-2" [(ngModel)]="pokemonBuscado" autofocus>
            <div class="input-group-append">
                <span class="input-group-text fas fa-search mb-2"></span>
            </div>
        </div>


    </div>

    <!-- <div class="col-md-6">
        <ul class="list-group">
            <li *ngFor="let h of habilidades" class="list-group-item" [(ngModel)]="habilidad">
                <input type="checkbox" class="checkbox">{{h}}

            </li>
        </ul>

    </div>-->
</div>
<!--Cierre primer row-->

<div class="row">
    <div class="col-md-6">


        <ul class="list-group">
            <li *ngFor="let pokemon of listaPokemon| pokemonFiltro: pokemonBuscado"
                class="list-group-item {{pokemon==pokemonSeleccionado?'active':''}}"
                (click)="seleccionarPokemon(pokemon);comprobarPokemon(pokemon)">
                <div class=" listado">{{pokemon.nombre}}
                </div>

            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <div class="card" *ngIf="hayPokemon" style="width: 18rem;margin: auto;">
            <div class="card-body">
                <h5 class="card-title">{{pokemonSeleccionado.id}} - {{pokemonSeleccionado.nombre}}</h5>
                <img class="card-img-top" src="{{pokemonSeleccionado.imagen}}" alt="Card image cap">
                <p class="card-text">Habilidades</p>
                <ul class="list-group">
                    <li *ngFor="let habilidades of pokemonSeleccionado.habilidades" class="list-group-item">
                        <div class="listaHabilidades">{{habilidades.nombre}}</div>

                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
<!--Cierre primer row-->