<div class="row">
    <div class="col mb-2">

        <input type="text" class="form-control" [(ngModel)]="pokemonBuscado" autofocus>

    </div>
    <div class="col">
        <input type="checkbox">
    </div>
</div>
<!--Cierre primer row-->

<div class="row">
    <div class="col">
        <ul class="list-group">
            <li *ngFor="let pokemon of listaPokemon"
                class="list-group-item {{pokemon==pokemonSeleccionado?'active':''}}"
                (click)="seleccionarPokemon(pokemon)">
                <div class=" listado">{{pokemon.nombre}}
                </div>

            </li>
        </ul>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{pokemonSeleccionado.nombre}}</h5>
                <p class="card-text">Habilidades</p>

            </div>
        </div>
    </div>
</div>
<!--Cierre primer row-->